[submodule "libs/chemfiles"]
	path = libs/chemfiles
	url = https://github.com/chemfiles/chemfiles
[submodule "libs/xtl"]
	path = libs/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "libs/xtensor"]
	path = libs/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
